# Ignore Unity cache and build files
/Assets/FDS Assets/Naval Vessels/
/Library/
/Temp/
/Logs/
/obj/
/Build/
/Builds/
.codegpt
.git_backup
/Packages/com.esri.arcgis-maps-sdk/


# Ignore user-specific settings
/UserSettings/
/*.csproj
/*.sln

# Track .meta files (important)
!Assets/**/*.meta